@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Poppins:wght@200;300;400;500;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 400;
}

.wrapper{
    background-color: white;
    height: 100vh;
    width: 100%;
}

nav{
    width: 100%;
    height: 85px;
    display: flex;
    text-align: center;  
    background-attachment: fixed;
}

nav a{
    font-size: large;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #3f84eb;
}

.logo{
    height: 65px;
    margin-left: 20px;
}

.Creation{
    margin-left: 42px;
    margin-top: 20px;
}

.Business{
    margin-left: 42px;
    margin-top: 20px;
}

.Growth{
    margin-left: 42px;
    margin-top: 20px;
}

.Resources{
    margin-left: 42px;
    margin-top: 20px;
}

nav h1{
    margin-left: 20px;
    margin-top: 15px;
}

.Enterprise{
    margin-left: 20px;
    margin-top: 20px;
}

.Pricing{
    margin-left: 42px;
    margin-top: 20px;
}

.Support{
    margin-left: 42px;
    margin-top: 20px;
}

.ukraine span:hover{
    color: rgb(145, 141, 141);
}

.web-logo{
    margin-top: 22px;
    margin-left: 100px;
    width: 10px;
    height: 29px;
    width: 31px;
    margin-top: 18px;
}

.Log-In{
    margin-left: 20px;
    margin-top: 20px;
}

.getstarted{
    height: 35px;
    width: 130px;
    margin-top: 16px;
    margin-left: 35px;
    border-radius: 20px;
    font-size: 14px;
    border: 1px solid #166aea;
    background-color: #166aea;
    color: white;
}

.getstarted:hover{
    background-color: #3f84eb;
    cursor: pointer;
    border: #3f84eb;
}

.ukraine{
    background-color: rgb(28, 40, 95);
    height: 100px;
    display: flex;
    justify-content: center;
}

.ukraine h2{
    margin-top: 36px;
    color: white;
    font-size: large;
}

.ukraine a{
    text-decoration: underline;
    color: white;
}

.ukraine-flag{
    width: 40px;
    height: 30px;
    margin-top: 35px;
    margin-right: 10px;
}

.main{
    height: 450px;
    background-color: rgb(230, 228, 228);
}

.heading span p{
    font-family:'Poppins';
    text-align: center;
    font-size:80px;
    font-weight: 500;
}

.heading span h3{
    text-align: center;
}

.getstarted1{
    margin-left: 588px;
    height: 55px;
    width: 190px;
    border-radius: 40px;
    margin-top: 20px;
    background-color: #166aea;
    color: white;
    border: 1px solid #166aea;
    font-size: 20px;
    cursor: pointer;
}

.getstarted1:hover{
    background-color: #3f84eb;
    border: 1px solid #3f84eb;
}

.heading p{
    text-align: center;
    margin-top: 5px;
    font-size: small;
}

.one h1{
    margin-left: 100px;
    font-size: 68px;
    font-weight: 600;
}

.infinite h1{
    margin-left: 90px;
    font-size: 68px;
    font-weight: 600;
}

.row{
    display:flex;
    padding: 10px;
    margin-left: 90px;
}

.line1 h2{
    font-size: 20px;
    font-weight: 600;
}

.line2 h2{
    font-size: 20px;
    font-weight: 600;
}

.line3 h2{
    font-size: 20px;
    font-weight: 600;
}


.line2{
    margin-left: 40px;
}

.line3{
    margin-left: 40px;
}

.getstarted2{
    margin-left: 110px;
    margin-top: 15px;
    border-radius: 25px;
    width: 146px;
    height: 44px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-size: 16px;
}

.content1{
    margin-top: 25px;
    background-color: black;
    color: white;
    height: 400px
}

.content1 h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.website{
    padding-top: 30px;
}

.you{
    padding-bottom: 30px;
}
.content1 h3{
    text-align: center;
}

.getstarted3{
    margin-left: 588px;
    margin-bottom: 25px;
    height: 55px;
    width: 190px;
    border-radius: 40px;
    margin-top: 20px;
    background-color: white;
    color: black;
    border: 1px solid white;
    font-size: 20px;
    cursor: pointer;
}

.content2{
    display: flex;
    height: 200px;
}

.content2 h3{
    margin-left: 250px;
    padding-top: 30px;
    margin-right: 20px;
}

.content2 h1{
    margin-left: 20px;
    padding-top: 30px;
    font-size: 32px;
    font-weight: 600;
}